* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
body {
  background: #4d05e8;
  cursor: pointer;
  margin: 0;
  min-height: 100vh;
  overflow: hidden;
  padding: 0;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pan {
  cursor: pointer;
  left: 50%;
  margin-left: -100px;
  margin-top: -225px;
  position: absolute;
  top: 50%;
  -webkit-transform-origin: 100px 225px;
          transform-origin: 100px 225px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 200px;
}
.pancake {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  height: 100%;
  -webkit-transform: rotate(-5deg) translate3d(0, 0, 1px);
          transform: rotate(-5deg) translate3d(0, 0, 1px);
  width: 100%;
}
.pancake--cooking .pancake__face--smiling {
  display: none;
}
.pancake--cooking .pancake__face--cooking {
  display: block;
}
.pancake--flipping .pancake__face--smiling,
.pancake--flipping .pancake__face--cooking {
  display: none;
}
.pancake--flipping .pancake__face--flipping {
  display: block;
}
.pancake__container {
  height: 120px;
  left: 50%;
  margin-left: -60px;
  margin-top: -60px;
  -webkit-perspective: 2500px;
          perspective: 2500px;
  position: absolute;
  top: 50%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  width: 120px;
  z-index: 2;
}
.pancake__wrapper {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  height: 100%;
  -webkit-transform: rotate(45deg) translate3d(0, 0, 5px);
          transform: rotate(45deg) translate3d(0, 0, 5px);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  width: 100%;
}
.pancake__back {
  border-radius: 100%;
  height: 100%;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}
.pancake__back .pancake__back {
  height: 100%;
  width: 100%;
}
.pancake__back .pancake__back-base {
  fill: #fff2a4;
}
.pancake__back .pancake__back-scorch {
  -webkit-animation: cook 120s forwards ease;
          animation: cook 120s forwards ease;
}
.pancake__head {
  fill: #fff2a4;
}
.pancake__splodge {
  -webkit-animation: cook 120s forwards ease;
          animation: cook 120s forwards ease;
  fill: #fff2a4;
}
.pancake__face {
  display: none;
}
.pancake__face--smiling {
  display: block;
}
@-webkit-keyframes cook {
  0% {
    fill: #fff2a4;
  }
  50% {
    fill: #eca24d;
  }
  100% {
    fill: #b45326;
  }
}
@keyframes cook {
  0% {
    fill: #fff2a4;
  }
  50% {
    fill: #eca24d;
  }
  100% {
    fill: #b45326;
  }
}
